button.locale-button {
    background-color: transparent;
    border: 0px;
    aspect-ratio: 1;
    float: inline-end;
}

#list > header > button.locale-button {
    font-size: var(--icon-size);
    margin-inline-end: 1rem;
}

#single-record-locale-modal-content {
    display: block;
    overflow: auto;
    max-height: 70vh;
}
.language-select {
    overflow-y: auto;
    margin: 0;
}
.language-select li {
    list-style: none;
    padding: 0.75rem;
}
.language-select li:nth-child(even) {
    background-color: #eee;
}
.language-select li.active,
.language-select li:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}